# ignore data folder
/data/
#ignore notebook checkpoint files
.ipynb_checkpoints/
#ignore python cache files
__pycache__/
#ignore python virtual environment
venv/
#ignore python compiled files
*.pyc
#ignore python compiled files
*.pyo